In [2]:
import pandas as pd
import openpyxl
import numpy as np

## Exploratory Data Analysis

In [3]:
## Load data
players_df = pd.read_csv("data/CollegeBasketballPlayers2009-2021.csv")
drafted_df = pd.read_excel("data/DraftedPlayers2009-2021.xlsx")

/var/folders/l1/b9500nvd2v57y822rhwp_f8c0000gp/T/ipykernel_61382/895603100.py:2: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  players_df = pd.read_csv("data/CollegeBasketballPlayers2009-2021.csv")

In [4]:
drafted_df.columns = ['player_name','team','affiliation','year','round','round_pick','overall_pick']

In [7]:
draft_players = drafted_df[drafted_df['year'] == 2021]
draft_players.to_csv('data/draft_players.csv')

In [54]:
p_vc = pd.DataFrame(players_df.year.value_counts()).reset_index()
p_vc.columns = ["year", "rows in players_df"]

d_vc = pd.DataFrame(drafted_df.year.value_counts()).reset_index()
d_vc.columns = ["year", "rows in drafted_df"]

s_vc = pd.DataFrame(drafted_df[drafted_df['round'] == 1].year.value_counts()).reset_index()
s_vc.columns = ["year", "rows in drafted_df - round 1"]

print(f"Columns in players_df: {players_df.shape[1]}")
print(f"Columns in drafted_df: {drafted_df.shape[1]}")

pd.merge(pd.merge(p_vc, d_vc, on='year'), s_vc, on='year')

Columns in players_df: 66
Columns in drafted_df: 7

    year  rows in players_df  rows in drafted_df  rows in drafted_df - round 1
0   2021                4970                  60                            30
1   2017                4743                  60                            30
2   2019                4740                  60                            30
3   2020                4733                  60                            30
4   2015                4724                  60                            30
5   2014                4722                  60                            30
6   2018                4703                  60                            30
7   2010                4698                  60                            30
8   2016                4697                  60                            30
9   2013                4608                  60                            30
10  2009                4589                  60                            30
11  2012                4586                  60                            30
12  2011                4548                  60                            30

### CollegeBasketballPlayers

Courtesy of ChatGPT:

| Column Name | Description |
|-------------|-------------|
| player_name | The name of the basketball player. |
| team        | The college basketball team that the player was part of. |
| conf        | The conference that the team belongs to. |
| GP           | Games Played - The total number of games the player participated in during the season. |
| Min_per      | Minutes Per Game - The average number of minutes the player was on the court per game. |
| Ortg         | Offensive Rating - A measure of a player's efficiency in scoring points per 100 possessions. |
| usg          | Usage Rate - The percentage of team plays used by a player while on the court. |
| eFG          | Effective Field Goal Percentage - A statistic that adjusts field goal percentage to account for the fact that three-point shots are worth more than two-point shots. |
| TS_per       | True Shooting Percentage - A measure of shooting efficiency that takes into account field goals, three-point field goals, and free throws. |
| ORB_per      | Offensive Rebound Percentage - The percentage of available offensive rebounds a player grabs while on the court. |
| DRB_per      | Defensive Rebound Percentage - The percentage of available defensive rebounds a player grabs while on the court. |
| TRB_per      | Total Rebound Percentage - The percentage of available total rebounds a player grabs while on the court. |
| AST_per      | Assist Percentage - The percentage of teammate field goals a player assisted while on the court. |
| STL_per      | Steal Percentage - The percentage of opponent possessions that end with a steal by the player while on the court. |
| BLK_per      | Block Percentage - The percentage of opponent two-point field goal attempts blocked by the player while on the court. |
| TOV_per      | Turnover Percentage - The percentage of player possessions that end in a turnover. |
| USG_per      | Usage Percentage - Another measure of the percentage of team plays used by a player while on the court. |
| PPR          | Pure Point Rating - A measure of a player's ability to generate points for themselves and their teammates. |
| PTS_per      | Points Per Game - The average number of points scored by the player per game. |
| 2P_per       | Two-Point Field Goals Per Game - The average number of two-point field goals made by the player per game. |
| 3P_per       | Three-Point Field Goals Per Game - The average number of three-point field goals made by the player per game. |
| FT_per       | Free Throws Per Game - The average number of free throws made by the player per game. |
| 2P%          | Two-Point Field Goal Percentage - The percentage of two-point field goal attempts made by the player. |
| 3P%          | Three-Point Field Goal Percentage - The percentage of three-point field goal attempts made by the player. |
| FT%          | Free Throw Percentage - The percentage of free throw attempts made by the player. |
| AST          | Assists - The total number of assists made by the player during the season. |
| STL          | Steals - The total number of steals made by the player during the season. |
| BLK          | Blocks - The total number of blocks made by the player during the season. |
| PTS          | Points - The total number of points scored by the player during the season. |
| oreb, dreb, treb | Offensive, defensive, and total rebounds made by the player per game. |
| dgbpm        | Defensive Box Plus-Minus - A box score estimate of the defensive points per 100 possessions a player contributed above a league-average player, translated to an average team. |

### Drafted Players dataset

In [55]:
drafted_df.columns = ['player_name','team','affiliation','year','round','round_pick','overall_pick']

first_round_drafted = drafted_df[drafted_df['round'] == 1]

In [56]:
first_round_drafted.year.value_counts()

2021.0    30
2020.0    30
2019.0    30
2018.0    30
2017.0    30
2016.0    30
2015.0    30
2014.0    30
2013.0    30
2012.0    30
2011.0    30
2010.0    30
2009.0    30
Name: year, dtype: int64

### Merged dataset

In [113]:
df = pd.merge(players_df, first_round_drafted, on=['player_name','year','team'], how='left')
df.head()

,player_name,team,conf,GP,Min_per,Ortg,usg,eFG,TS_per,ORB_per,...,ast,stl,blk,pts,Unnamed: 64,Unnamed: 65,affiliation,round,round_pick,overall_pick
0,DeAndrae Ross,South Alabama,SB,26,29.5,97.3,16.6,42.5,44.43,1.6,...,1.1923,0.3462,0.0385,3.8846,NaN,6.22026,NaN,NaN,NaN,NaN
1,Pooh Williams,Utah St.,WAC,34,60.9,108.3,14.9,52.4,54.48,3.8,...,1.8235,0.4118,0.2353,5.9412,NaN,3.94375,NaN,NaN,NaN,NaN
2,Jesus Verdejo,South Florida,BE,27,72.0,96.2,21.8,45.7,47.98,2.1,...,1.9630,0.4815,0.0000,12.1852,NaN,10.92680,NaN,NaN,NaN,NaN
3,Mike Hornbuckle,Pepperdine,WCC,30,44.5,97.7,16.0,53.6,53.69,4.1,...,1.1000,0.5667,0.1333,4.9333,NaN,6.77427,NaN,NaN,NaN,NaN
4,Anthony Brown,Pacific,BW,33,56.2,96.5,22.0,52.8,54.31,8.3,...,0.8485,0.4545,0.3333,7.5758,NaN,0.00000,NaN,NaN,NaN,NaN

In [114]:
df['first_round_picked'] = np.where(df['round'].isnull(), 0, 1)

In [116]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 61061 entries, 0 to 61060
Data columns (total 71 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   player_name                      61061 non-null  object
 1   team                             61061 non-null  object
 2   conf                             61061 non-null  object
 3   GP                               61061 non-null  int64
 4   Min_per                          61061 non-null  float64
 5   Ortg                             61061 non-null  float64
 6   usg                              61061 non-null  float64
 7   eFG                              61061 non-null  float64
 8   TS_per                           61061 non-null  float64
 9   ORB_per                          61061 non-null  float64
 10  DRB_per                          61061 non-null  float64
 11  AST_per                          61061 non-null  float64
 12  TO_per                           61061 non-null  float64
 13  FTM                              61061 non-null  int64
 14  FTA                              61061 non-null  int64
 15  FT_per                           61061 non-null  float64
 16  twoPM                            61061 non-null  int64
 17  twoPA                            61061 non-null  int64
 18  twoP_per                         61061 non-null  float64
 19  TPM                              61061 non-null  int64
 20  TPA                              61061 non-null  int64
 21  TP_per                           61061 non-null  float64
 22  blk_per                          61061 non-null  float64
 23  stl_per                          61061 non-null  float64
 24  ftr                              61061 non-null  float64
 25  yr                               60787 non-null  object
 26  ht                               60975 non-null  object
 27  num                              56304 non-null  object
 28  porpag                           61061 non-null  float64
 29  adjoe                            61061 non-null  float64
 30  pfr                              61061 non-null  float64
 31  year                             61061 non-null  int64
 32  pid                              61061 non-null  int64
 33  type                             61061 non-null  object
 34  Rec Rank                         18470 non-null  float64
 35  ast/tov                          56334 non-null  float64
 36  rimmade                          54732 non-null  float64
 37  rimmade+rimmiss                  54732 non-null  float64
 38  midmade                          54732 non-null  float64
 39  midmade+midmiss                  54732 non-null  float64
 40  rimmade/(rimmade+rimmiss)        50951 non-null  float64
 41  midmade/(midmade+midmiss)        50676 non-null  float64
 42  dunksmade                        54732 non-null  float64
 43  dunksmiss+dunksmade              54732 non-null  float64
 44  dunksmade/(dunksmade+dunksmiss)  27551 non-null  float64
 45  pick                             1435 non-null   float64
 46  drtg                             61016 non-null  float64
 47  adrtg                            61016 non-null  float64
 48  dporpag                          61016 non-null  float64
 49  stops                            61016 non-null  float64
 50  bpm                              61016 non-null  float64
 51  obpm                             61016 non-null  float64
 52  dbpm                             61016 non-null  float64
 53  gbpm                             61016 non-null  float64
 54  mp                               61023 non-null  float64
 55  ogbpm                            61016 non-null  float64
 56  dgbpm                            61016 non-null  float64
 57  oreb                             61023 non-null  float64
 58  dreb                             61023 non-null  float64
 59  treb                             61023 non-null  float64
 60  ast                              61023 non-null  float64
 61  stl                              61023 non-null  float64
 62  blk                              61023 non-null  float64
 63  pts                              61023 non-null  float64
 64  Unnamed: 64                      56377 non-null  object
 65  Unnamed: 65                      61016 non-null  float64
 66  affiliation                      0 non-null      object
 67  round                            0 non-null      object
 68  round_pick                       0 non-null      object
 69  overall_pick                     0 non-null      object
 70  first_round_picked               61061 non-null  int32
dtypes: float64(49), int32(1), int64(9), object(12)
memory usage: 33.3+ MB

**First Model**

In [117]:
df = df.drop(['Unnamed: 64', 'Unnamed: 65', 'affiliation', 'round',
       'round_pick', 'overall_pick'], axis=1)

In [118]:
# Drop columns with more than 100 missing values
df = df.dropna(thresh=len(df) - 100, axis=1)

# Python
df = df.select_dtypes(include=['int64','int32', 'float64'])

In [119]:
df

,GP,Min_per,Ortg,usg,eFG,TS_per,ORB_per,DRB_per,AST_per,TO_per,...,ogbpm,dgbpm,oreb,dreb,treb,ast,stl,blk,pts,first_round_picked
0,26,29.5,97.3,16.6,42.5,44.43,1.6,4.6,15.8,16.3,...,-2.781990,-1.941150,0.1923,0.6154,0.8077,1.1923,0.3462,0.0385,3.8846,0
1,34,60.9,108.3,14.9,52.4,54.48,3.8,6.3,13.6,19.8,...,-0.052263,-0.247934,0.6765,1.2647,1.9412,1.8235,0.4118,0.2353,5.9412,0
2,27,72.0,96.2,21.8,45.7,47.98,2.1,8.0,14.7,15.9,...,1.548230,-0.883163,0.6296,2.3333,2.9630,1.9630,0.4815,0.0000,12.1852,0
3,30,44.5,97.7,16.0,53.6,53.69,4.1,9.4,13.7,23.8,...,-0.342775,-0.393459,0.7000,1.4333,2.1333,1.1000,0.5667,0.1333,4.9333,0
4,33,56.2,96.5,22.0,52.8,54.31,8.3,18.6,8.2,22.7,...,-1.684860,-0.668318,1.4242,3.3030,4.7273,0.8485,0.4545,0.3333,7.5758,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61056,2,0.3,60.5,19.3,0.0,0.00,0.0,0.0,51.1,0.0,...,2.143290,16.018200,0.0000,0.0000,0.0000,0.5000,0.5000,0.0000,0.0000,0
61057,4,1.3,28.3,7.1,0.0,0.00,7.0,0.0,0.0,50.3,...,-7.242230,-4.993820,0.2500,0.0000,0.2500,0.0000,0.0000,0.0000,0.0000,0
61058,1,0.1,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,...,-3.524820,-1.126810,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0
61059,1,0.1,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,...,-1.876040,-2.380750,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0
61060,4,1.0,89.6,28.8,25.0,25.00,10.3,0.0,48.0,0.0,...,9.220840,-3.329310,0.2500,0.0000,0.2500,0.7500,0.0000,0.0000,0.7500,0

In [120]:
X = df.copy().drop(['first_round_picked'], axis=1).to_numpy()
y = df['first_round_picked'].to_numpy()

In [126]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 61061 entries, 0 to 61060
Data columns (total 46 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   GP                  61061 non-null  int64
 1   Min_per             61061 non-null  float64
 2   Ortg                61061 non-null  float64
 3   usg                 61061 non-null  float64
 4   eFG                 61061 non-null  float64
 5   TS_per              61061 non-null  float64
 6   ORB_per             61061 non-null  float64
 7   DRB_per             61061 non-null  float64
 8   AST_per             61061 non-null  float64
 9   TO_per              61061 non-null  float64
 10  FTM                 61061 non-null  int64
 11  FTA                 61061 non-null  int64
 12  FT_per              61061 non-null  float64
 13  twoPM               61061 non-null  int64
 14  twoPA               61061 non-null  int64
 15  twoP_per            61061 non-null  float64
 16  TPM                 61061 non-null  int64
 17  TPA                 61061 non-null  int64
 18  TP_per              61061 non-null  float64
 19  blk_per             61061 non-null  float64
 20  stl_per             61061 non-null  float64
 21  ftr                 61061 non-null  float64
 22  porpag              61061 non-null  float64
 23  adjoe               61061 non-null  float64
 24  pfr                 61061 non-null  float64
 25  year                61061 non-null  int64
 26  pid                 61061 non-null  int64
 27  drtg                61016 non-null  float64
 28  adrtg               61016 non-null  float64
 29  dporpag             61016 non-null  float64
 30  stops               61016 non-null  float64
 31  bpm                 61016 non-null  float64
 32  obpm                61016 non-null  float64
 33  dbpm                61016 non-null  float64
 34  gbpm                61016 non-null  float64
 35  mp                  61023 non-null  float64
 36  ogbpm               61016 non-null  float64
 37  dgbpm               61016 non-null  float64
 38  oreb                61023 non-null  float64
 39  dreb                61023 non-null  float64
 40  treb                61023 non-null  float64
 41  ast                 61023 non-null  float64
 42  stl                 61023 non-null  float64
 43  blk                 61023 non-null  float64
 44  pts                 61023 non-null  float64
 45  first_round_picked  61061 non-null  int32
dtypes: float64(36), int32(1), int64(9)
memory usage: 21.7 MB

In [121]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=2021, stratify=y)

In [122]:
y_test.shape

(12213,)

In [ ]:
X_

In [124]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()
model.fit(X_train, y_train)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [ ]:
# To predict on the test set
y_pred = model.predict(X_test)

**PCA**